* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    width: 750px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 200px;
    border: 5px solid #0c0c0c;

}

.Clasificar {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 23px;
}

.tarjetas {
    width: 168px;
    height: 58px;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
}

.tarjetas h2 {
    font-size: 18px;
    margin-bottom: 4px;
}

.tarjetas p {
    font-size: 9px;
}

.frio {
    background-color: #1670ed;
    color: white;
}

.suau {
    background-color: #ffbf0b;
    color: black;
}

.calor {
    background-color: #df3045;
    color: white;
}

main h3 {
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
}

